.h4{

    margin-left: 50px;
    margin-top: 50px;
}
.h1{
    font-size: 90px;
    margin-left: 50px;
    margin-top: 40px;
}

.h2{
    font-size: 70PX;
    margin-top: 50px;
    margin-left: 40px;
    color: #f00ce1;
}
.card{
    margin-top: 70px;
}