body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(206, 205, 205);
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  
  .doctor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: 400px;
    width: 750px;
  }
  
  .doctor img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .doctor-info {
    flex: 1;
  }
  
  .doctor h2 {
    margin-top: 0;
    
  }
  
  .doctor p {
    margin: 10px 0;
  }
  
  .doctor .specialization {
    font-style: italic;
    color: #666;
  
  }
  
  .doctor .contact {
    color: #007bff;
    text-decoration: none;
  }
  
  .doctor .contact:hover {
    text-decoration: underline;
  }
  
  .col{
    transition: 1s;
  }

.col:hover{
  transform: scale(1.1);
}


footer {
  width: auto;
  height: 517px;
  border-bottom: 0.3px solid black;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
}

.map {
  width: 400px;
  height: 300px;

}

.info {
  margin: auto;
  height: 400px;
  width: 300px;
}

.info span {
  font-size: 35px;
  font-weight: 600;
}

.info h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.info p {
  color: blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.info a {
  text-decoration: none;
  color: blue;
}

.info .dr {
  font-weight: 400;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.design {
  width: auto;
  height: 30px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.design p {
  color: black;
  font-weight: 500;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
  text-align: end;
  margin-right: 20px;
}