body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* main box */
.main {
    border: 1px solid black;
    width: auto;
    height: 700px;
    background-color: hsla(0, 0%, 7%, .15);
    
}

.logo{
    display: block;
    border: 1px solid black;
    height: 600px;
    width: auto;
    margin:80px auto;
}

.logo img{
    display: block;
    margin: 0px auto;
}

.logo h1{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 700;
    color: linear-gradient(#11007a 2.71%, #6328c3 48.51%, #e36bff 91.53%);
}


/* navbar */
nav{
    width: 90%;
    position: fixed !important;
    top: 0px ;
    z-index: 10;
    margin-top: 60px !important;
    margin-left: 5%;
    border-radius: 50px;
    border: 1px solid black;
}

.nav-link{
    font-size: 20px;
    color: black;
    font-weight: 400;
}